:root {
    /* Primary Colors */
    --color-primary: #008080;
    --color-primary-light: #1ca088;
    
    /* Neutral Colors */
    --color-white: white;
    --color-black: black;
    --color-light-grey: lightgrey;
    
    /* Gradients */
    --gradient-button: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
}

body{
    margin: 0px;
    height: 100vh;
    padding: 0px;
    overflow: hidden;
    background-image: var(--gradient-button);
    font-family: Funnel Display;
}

.pageBlock {
    width:90%;
    margin: auto;
    margin-top: 2.5%;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 20px;
    padding:2.5%;
    height: max-content;
}

a{
    text-decoration: none;
    color: var(--color-black);
}

h1 a, h1{
    color: var(--color-primary);
}

.card{
    width: 80%;
    margin: auto;
    padding:2vw;
    background-color: var(--color-white);
    border-radius: 20px;
    border: var(--color-light-grey) solid 1px; 
    box-shadow: 2px 2px 10px var(--color-light-grey);
    margin-bottom: 5%;
    overflow-x: hidden;
    transition: 0.5s;
}

i{
    color: var(--color-primary);
    font-size: 200%;
}

.card:hover, .soloCard:hover{
    transition: 0.5s;
    background-color: var(--color-light-grey);
}

@media (min-width:800px){
    .cardCont{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-top: 3.5%;
    }

    .card, .portCard, .soloCard {
        width: 80%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 2%;
        background-color: var(--color-white);
        border-radius: 20px;
        border: var(--color-light-grey) solid 1px; 
        box-shadow: 2px 2px 10px var(--color-light-grey);
        transition: 0.5s;
        margin-bottom: -1%;
        color: var(--color-black);
        text-decoration: none;
    }

    .soloCard {
        width: 40%;
        margin-left: 27.5%;
    }

    .pageBlock {
        width:60%;
        margin: auto;
        margin-top: 2%;
        text-align: center;
        background-color: var(--color-white);
        border-radius: 20px;
        padding:2%;
    }
}