{% extends "base.html" %}
{% block content %}

<div class="contForm">
    <h1>Contact Form</h1>
    <h4 style="user-select: none">Please Note: <req>*</req> indicates a required field.</h4>
    <form name="contact" method="POST" data-netlify="true" action="submit">
        <p><label>Full Name <req>*</req> : <input type="text" required name="name" /></label></p>
        <p><label>Email <req>*</req> : <input type="email" required name="email" /></label></p>
        <p><label>Subject <req>*</req> : <input type="text" name="subject" required name="subject" /></label></p>
        <p><label>Message <req>*</req> : <textarea style="height:100px; width: 200px;" required name="message"></textarea></label></p>
        <p><button type="submit">Send</button></p>
    </form>

    <h4>If you experience any difficulties, please email <a href="mailto:mgudka2317@hotmail.com">mgudka2317@hotmail.com</a>.</h4>
</div>

{% endblock %}