{% extends "base.html" %}
{% block content %}

<div class="project">
    <h1>Template Portfolio Website</h1>
    <h4>September 2025 - December 2025</h4>
    <h2><a href="https://users.susx.ac.uk/~tg368/IM/home" target="_blank"><i class="fa-solid fa-link"></i></a></h2>

    <h3>Introduction to Multimedia</h3>
    <div class="projBody">As part of my Introduction to Multimedia course as university, I created a template portfolio website. This project involved designing and implementing a responsive website using HTML, CSS, and JavaScript. The website had to fulfill a set criteria, including:

        <ul>
            <li>Home page (root page) including a site name, short introductory text, and a freely usable image.</li>
            <li>Video page with an embedded video clip that complies with University regulations (may be part of another page).</li>
            <li>Hobbies/Activities page describing one or more hobbies or activities, with images and explanatory text.</li>
            <li>Coursework portfolio page with structured links to module work.</li>
            <li>JavaScript clock animation, with optional enhancements.</li>
            <li>Site includes a clear, easy-to-use, and consistent navigation bar.</li>
            <li>Each page has a clear and appropriate page title.</li>
            <li>The current page is visually highlighted in the navigation bar.</li>
            <li>Video content plays correctly with audio.</li>
            <li>Appropriate use of multimedia elements such as sound, video, and animation.</li>
            <li>Use of additional interactive or advanced components (e.g. JavaScript features, rollover buttons).</li>
            <li>Optional switchable CSS styles for changing the site's appearance.</li>
            <li>Additional site content or functionality created by the author (e.g. galleries, simple interactive features).</li>
            <li>Consistent appearance and behaviour across major web browsers.</li>
            <li>Clock includes core functionality.</li>
            <li>Optional clock enhancements such as digital readout, date display, stopwatch, alarm, or improved animation.</li>
        </ul>
    </div>
</div>

{endblock %}